html {
  background-color: #bbe1fa;
  font-family: 'helvetica neue';
}
body{
  background-color:#bbe1fa;
}

h1 {
  color: #fff;
  padding: 10px;
}
h2 {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 3.5rem;
  padding-top: 1.2rem;
}

.box {
  max-width: 500px;
  margin: 50px auto;
  background: #3282b8;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #0f4c75;
  text-align: center;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  font-family: 'Glegoo', serif;
}

form {
  text-align: center;
  margin-left: 20px;
}

form.item{
  text-align: center;
  padding: 1.2rem;
}


input[type="text"] {
  text-align: center;
  padding: 20px 30px 0;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 280px;
  margin-bottom: 2rem;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

input[type="text"]:focus {
  outline: none;
  background: transparent;
  box-shadow: inset 0 -3px 0 0 #000;
}

::placeholder{
  color:#fff;
  opacity: 1;
  max-width: 10px; 
}


.temp{
  font-size: 3rem;
  /* display: flex; */
  align-items: center;
}
